/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

/include/ "am33xx.dtsi"

/ {
	model = "TI AM335x BeagleBone Black";
	compatible = "ti,am335x-boneblack", "ti,am335x-bone", "ti,am33xx";

	cpus {
		cpu@0 {
			cpu0-supply = <&dcdc2_reg>;
		};
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x10000000>; /* 256 MB */
	};

	am33xx_pinmux: pinmux@44e10800 {
		pinctrl-names = "default";
		pinctrl-0 = <&clkout2_pin &nxp_hdmi_bonelt_pins &nxp_hdmi_bonelt_off_pins>;

		userled_pins: pinmux_userled_pins {
			pinctrl-single,pins = <
				0x54 0x7	/* gpmc_a5.gpio1_21, OUTPUT | MODE7 */
				0x58 0x17	/* gpmc_a6.gpio1_22, OUTPUT_PULLUP | MODE7 */
				0x5c 0x7	/* gpmc_a7.gpio1_23, OUTPUT | MODE7 */
				0x60 0x17	/* gpmc_a8.gpio1_24, OUTPUT_PULLUP | MODE7 */
			>;
		};
		i2c0_pins: pinmux_i2c0_pins {
			pinctrl-single,pins = <
				0x188 0x70 	/* i2c0_sda, SLEWCTRL_SLOW | INPUT_PULLUP | MODE0 */
				0x18c 0x70	/* i2c0_scl, SLEWCTRL_SLOW | INPUT_PULLUP | MODE0 */
			>;
		};

		uart0_pins: pinmux_uart0_pins {
			pinctrl-single,pins = <
				0x170 0x30	/* uart0_rxd.uart0_rxd PULLUP |INPUTENABLE | MODE0 */
				0x174 0x00	/* uart0_txd.uart0_txd PULLDOWN | MODE0 */
			>;
		};

		clkout2_pin: pinumx_clkout2_pin {
			pinctrl-single,pins = <
				0x1b4 0x03	/* xdma_event_intr1.clkout2 OMAP_MUX_MODE3 | AM33XX_PIN_OUTPUT */
			>;
		};

		nxp_hdmi_bonelt_pins: nxp_hdmi_bonelt_pins {
			pinctrl-single,pins = <
				0x1b0 0x03      /* xdma_event_intr0, OMAP_MUX_MODE3 | AM33XX_PIN_OUTPUT */
				0xa0 0x08       /* lcd_data0.lcd_data0, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xa4 0x08       /* lcd_data1.lcd_data1, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xa8 0x08       /* lcd_data2.lcd_data2, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xac 0x08       /* lcd_data3.lcd_data3, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xb0 0x08       /* lcd_data4.lcd_data4, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xb4 0x08       /* lcd_data5.lcd_data5, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xb8 0x08       /* lcd_data6.lcd_data6, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xbc 0x08       /* lcd_data7.lcd_data7, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xc0 0x08       /* lcd_data8.lcd_data8, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xc4 0x08       /* lcd_data9.lcd_data9, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xc8 0x08       /* lcd_data10.lcd_data10, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xcc 0x08       /* lcd_data11.lcd_data11, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xd0 0x08       /* lcd_data12.lcd_data12, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xd4 0x08       /* lcd_data13.lcd_data13, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xd8 0x08       /* lcd_data14.lcd_data14, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xdc 0x08       /* lcd_data15.lcd_data15, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT | AM33XX_PULL_DISA */
				0xe0 0x00       /* lcd_vsync.lcd_vsync, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
				0xe4 0x00       /* lcd_hsync.lcd_hsync, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
				0xe8 0x00       /* lcd_pclk.lcd_pclk, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
				0xec 0x00       /* lcd_ac_bias_en.lcd_ac_bias_en, OMAP_MUX_MODE0 | AM33XX_PIN_OUTPUT */
			>;
		};
		nxp_hdmi_bonelt_off_pins: nxp_hdmi_bonelt_off_pins {
			pinctrl-single,pins = <
				0x1b0 0x03      /* xdma_event_intr0, OMAP_MUX_MODE3 | AM33XX_PIN_OUTPUT */
			>;
		};
			mcasp0_pins: mcasp0_pins {
			pinctrl-single,pins = <
				0x1ac 0x30      /* mcasp0_ahclkx,       MODE0 | INPUT */
				0x19c 0x02	/* mcasp0_ahclkr, */
				0x194 0x10      /* mcasp0_fsx,         MODE0 | OUTPUT  */ 
				0x190 0x00      /* mcasp0_aclkr.mcasp0_aclkx,     MODE0 | OUTPUT_PULLDOWN */
				0x1a8 0x1f	/* mcasp0_axr1 GPIO1_27 | OUTPUT | PULLUP */
			>;
		};

	};

	ocp: ocp {
		i2c0: i2c@44e0b000 {
			pinctrl-names = "default";
			pinctrl-0 = <&i2c0_pins>;

			status = "okay";
			clock-frequency = <400000>;

			tps: tps@24 {
				reg = <0x24>;
			};

			eeprom: eeprom@50 {
				compatible = "at,24c256";
				reg = <0x50>;
			};

			hdmi1: hdmi@70 {
			      compatible = "nxp,tda998x";
			      reg = <0x70>;
			};
		};

		uart0: serial@44e09000 {
			pinctrl-names = "default";
			pinctrl-0 = <&uart0_pins>;

			status = "okay";
		};


		rtc@44e3e000 {
			ti,system-power-controller;
		};

		lcdc {
			compatible = "ti,da830-lcdc", "ti,am33xx-lcdc";
			reg = <0x4830e000 0x1000>;
			interrupt-parent = <&intc>;
			interrupts = <36>;
			ti,hwmods = "lcdc";
			status = "okay";
			hdmi = <&hdmi1>;
			display-timings {
					640x480P60 {
						   clock-frequency = <25200000>;
						   hactive = <640>;
						   vactive = <480>;
						   hfront-porch = <16>;
						   hback-porch = <48>;
						   hsync-len = <96>;
						   vback-porch = <31>;
						   vfront-porch = <11>;
						   vsync-len = <2>;
						   hsync-active = <0>;
						   vsync-active = <0>;
					};
					1280x1024P60 {
						   clock-frequency = <108000000>;
						   hactive = <1280>;
						   vactive = <1024>;
						   hfront-porch = <48>;
						   hback-porch = <248>;
						   hsync-len = <112>;
						   vback-porch = <38>;
						   vfront-porch = <1>;
						   vsync-len = <3>;
						   hsync-active = <1>;
						   vsync-active = <1>;
					};
					1024x768P60 {
						   clock-frequency = <65000000>;
						   hactive = <1024>;
						   vactive = <768>;
						   hfront-porch = <24>;
						   hback-porch = <160>;
						   hsync-len = <136>;
						   vback-porch = <29>;
						   vfront-porch = <3>;
						   vsync-len = <6>;
						   hsync-active = <0>;
						   vsync-active = <0>;
					};
			};
		};

	};

	leds {
		pinctrl-names = "default";
		pinctrl-0 = <&userled_pins>;

		compatible = "gpio-leds";

		led0 {
			label = "beaglebone:green:heartbeat";
			gpios = <&gpio1 21 0>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		led1 {
			label = "beaglebone:green:mmc0";
			gpios = <&gpio1 22 0>;
			linux,default-trigger = "mmc0";
			default-state = "off";
		};

		led2 {
			label = "beaglebone:green:usr2";
			gpios = <&gpio1 23 0>;
			default-state = "off";
		};

		led3 {
			label = "beaglebone:green:usr3";
			gpios = <&gpio1 24 0>;
			linux,default-trigger = "mmc1";
			default-state = "off";
		};
	};
};

/include/ "tps65217.dtsi"

&tps {
	ti,pmic-shutdown-controller;

	regulators {
		dcdc1_reg: regulator@0 {
			regulator-always-on;
		};

		dcdc2_reg: regulator@1 {
			/* VDD_MPU voltage limits 0.95V - 1.26V with +/-4% tolerance */
			regulator-name = "vdd_mpu";
			regulator-min-microvolt = <925000>;
			regulator-max-microvolt = <1325000>;
			regulator-boot-on;
			regulator-always-on;
		};

		dcdc3_reg: regulator@2 {
			/* VDD_CORE voltage limits 0.95V - 1.1V with +/-4% tolerance */
			regulator-name = "vdd_core";
			regulator-min-microvolt = <925000>;
			regulator-max-microvolt = <1150000>;
			regulator-boot-on;
			regulator-always-on;
		};

		ldo1_reg: regulator@3 {
			regulator-always-on;
		};

		ldo2_reg: regulator@4 {
			regulator-always-on;
		};

		ldo3_reg: regulator@5 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		ldo4_reg: regulator@6 {
			regulator-always-on;
		};
	};
};

&cpsw_emac0 {
	phy_id = <&davinci_mdio>, <0>;
};

&cpsw_emac1 {
	phy_id = <&davinci_mdio>, <1>;
};

